includes:
    - .phpstan.dist.baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    paths:
      - src
    scanDirectories:
      - magento
    excludePaths:
      analyseAndScan:
        - magento/vendor/magento-hackathon/magento-composer-installer/tests (?)
    level: 7
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: offsetAccess.notFound
        - identifier: property.notFound
        - identifier: property.unusedType
        # reported only when OpenMage is installed without its composer patches
        -
            message: '#^Cannot call method getSize\(\) on Mage_Core_Model_Resource_Db_Collection_Abstract\|false\.$#'
            path: src/N98/Magento/Command/System/InfoCommand.php
            reportUnmatched: false
